<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Code Thumbnailer</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.swift-source</string>
				<string>public.python-script</string>
				<string>public.c-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.fortran-source</string>
				<string>public.pascal-source</string>
				<string>public.protobuf-source</string>
				<string>com.netscape.javascript-source</string>
				<string>public.ruby-script</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.shell-script</string>
				<string>public.zsh-script</string>
				<string>public.csh-script</string>
				<string>public.ksh-script</string>
				<string>public.tcsh-script</string>
				<string>public.css</string>
				<string>public.ada-source</string>
				<string>public.assembly-source</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.applescript.script</string>
				<string>com.sun.java-source</string>
				<string>com.bps.rust-source</string>
				<string>com.bps.go-source</string>
				<string>com.bps.coffee-source</string>
				<string>com.bps.typescript-source</string>
				<string>com.bps.lua-source</string>
				<string>com.bps.csharp-source</string>
				<string>com.bps.vbscript-source</string>
				<string>com.bps.scss-source</string>
				<string>com.bps.sql-source</string>
				<string>com.bps.arduino-source</string>
				<string>com.bps.clojure-source</string>
				<string>com.bps.erlang-source</string>
				<string>com.bps.latex-source</string>
				<string>com.bps.elixir-source</string>
				<string>com.bps.haskell-source</string>
				<string>com.bps.brainfuck-source</string>
				<string>com.bps.actionscript-source</string>
				<string>com.bps.twig-source</string>
				<string>com.bps.dart-source</string>
				<string>com.bps.fsharp-source</string>
				<string>com.bps.julia-source</string>
				<string>com.bps.lisp-source</string>
				<string>com.bps.kotlin-source</string>
				<string>public.dylan-source</string>
				<string>com.bps.basic-source</string>
				<string>com.bps.terraform-source</string>
				<string>com.bps.6809-assembly-source</string>
				<string>com.bps.assembly-source</string>
				<string>com.bps.env</string>
				<string>com.bps.terraform-vars</string>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>32</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ThumbnailProvider</string>
	</dict>
</dict>
</plist>
